absl-py==0.9.0
alembic==1.4.0
amqp==2.5.2
aniso8601==8.0.0
APScheduler==3.6.3
astor==0.8.1
backports.weakref==1.0rc1
billiard==3.5.0.5
bleach==1.5.0
cachetools==4.0.0
celery==4.1.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
collections-extended==1.0.3
colorama==0.3.9
csvtotable==2.1.1
curses==2.2.1+utf8
cycler==0.10.0
decorator==4.1.2
dnspython==1.16.0
enum34==1.1.6
eventlet==0.25.1
Flask==1.1.1
Flask-Admin==1.5.5
Flask-APScheduler==1.11.0
Flask-Migrate==2.5.2
Flask-RESTful==0.3.8
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
gast==0.2.2
google-auth==1.11.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
graphviz==0.13.2
greenlet==0.4.15
grpcio==1.26.0
h5py==2.8.0rc1
hmmlearn==0.2.3
html5lib==0.9999999
idna==2.8
importlib-metadata==1.5.0
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.10.2
Jinja2==2.11.1
joblib==0.14.1
jupyter-client==5.1.0
jupyter-core==4.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
kombu==4.6.7
Mako==1.1.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mod-wsgi==4.7.1+ap24vc14
monotonic==1.5
mttkinter==0.6.1
nltk==3.4.5
numpy==1.16.0
oauthlib==3.1.0
opencv-python==4.1.2.30
opt-einsum==3.1.0
pandas==1.0.3
path.py==10.3.1
pickleshare==0.7.4
Pillow==7.0.0
prompt-toolkit==1.0.15
protobuf==3.11.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydotplus==2.0.2
Pygments==2.2.0
PyMySQL==0.9.3
pyparsing==2.4.6
pypinyin==0.37.0
PyQt5-sip==12.7.1
python-dateutil==2.6.1
python-editor==1.0.4
python3-memcached==1.51
pytz==2019.3
pyzmq==16.0.2
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
scapy==2.4.3
scikit-learn==0.22.1
scipy==1.4.1
simplegeneric==0.8.1
six==1.14.0
SQLAlchemy==1.3.13
tensorboard==1.6.0
tensorflow==1.6.0
tensorflow-estimator==2.1.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
tflearn==0.3.2
tornado==6.0.4
traitlets==4.3.2
tzlocal==2.0.0
unicodecsv==0.14.1
urllib3==1.25.8
vine==1.3.0
wcwidth==0.1.7
Werkzeug==0.16.0
wincertstore==0.2
wrapt==1.11.2
WTForms==2.2.1
xgboost==1.0.2
zipp==2.2.0
