{% extends 'base.html' %}


{% block head %}
    <link href="{{ url_for('static',filename='css/fileinput.min.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static',filename='js/bootstrap_upload/fileinput.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap_upload/fileinput_locale_zh.js') }}"></script>
    <script src="{{ url_for('static',filename='js/addblackdata.js') }}"></script>
    <style>
        #last_ten_train{
            height: 150px;
{#            width: 226px;#}
        }

    </style>

{% endblock %}

{% block main_content %}

    <h3><b>当前模型训练情况</b></h3>
<div class="jumbotron">

<div class="row">
  <div class=" col-lg-6">
      <div><h4 style="text-align: center"><b>交叉验证测试结果</b></h4></div>
      <div><img class="img-thumbnail" src="{{ url_for('static',filename='picture/report/bar.jpg') }}" alt=""></div>

  </div>
   <div class=" col-lg-6">
        <div><h4 style="text-align: center"><b>训练模型报告表格</b></h4></div>


{#<iframe src='https://view.officeapps.live.com/op/view.aspx?src=http://127.0.0.1:8888/static/report_to_file.xlsx' width='100%' height='100%' frameborder='1'>#}
{#</iframe>#}

        <div class="panel panel-default">
{#            <div class="panel-heading" style="text-align: center">训练模型报告表格</div>#}
            {% include 'classification_report.html' %}
        </div>


       <div>
            <h4 style="text-align: center"><b>近5次训练准确率变化</b></h4>
       </div>
       <div>
            <img class="img-thumbnail" id="last_ten_train" src="{{ url_for('static',filename='picture/report/last_five_train.jpg') }}" alt="">
       </div>



  </div>




</div>



<div class="well well-sm" style="margin-top:30px;">
            <span> <b>最新一次模型训练平均结果:  </b>&nbsp;&nbsp; &nbsp;</span>
            <span><b>accuracy:&nbsp; </b>{{ accuracy }}  &nbsp; &nbsp;</span>
            <span><b>precision:&nbsp;</b>{{ precision }} &nbsp; &nbsp; </span>
            <span><b>recall_score: &nbsp;</b>{{ recall_score }} &nbsp; &nbsp; </span>
            <span><b>f1_score: &nbsp;</b>{{ f1_score }}</span>
        </div>


<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">



    <div class="form-group">
         <button type="button"  id="submit-black-data" class="btn btn-primary btn-lg btn-block"  data-toggle="modal" data-target="#myModal">提交黑样本</button>
    </div>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请上传需要学习的黑样本</h4>
            </div>
            <div class="modal-body">  <div class="form-group">
{#    <label class="sr-only" for="inputfile">文件输入</label>#}
            <input type="file" name="input_file" id="input_black_data" multiple  class="file-loading">
        </div></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
{#                <button type="button" class="btn btn-primary">提交更改</button>#}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


</div>




{% endblock %}