{% extends 'base.html' %}


{% block head %}
    <link href="{{ url_for('static',filename='css/fileinput.min.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static',filename='js/bootstrap_upload/fileinput.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap_upload/fileinput_locale_zh.js') }}"></script>
    <script src="{{ url_for('static',filename='js/addblackdata.js') }}"></script>
{% endblock %}

{% block main_content %}

    <h3><b>当前模型训练情况</b></h3>
    <div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">



    <div class="form-group">
         <button type="button"  id="submit-black-data" class="btn btn-primary btn-lg btn-block"  data-toggle="modal" data-target="#myModal">提交黑样本</button>
    </div>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请上传需要学习的黑样本</h4>
            </div>
            <div class="modal-body">  <div class="form-group">
{#    <label class="sr-only" for="inputfile">文件输入</label>#}
            <input type="file" name="input_file" id="input_black_data" multiple  class="file-loading">
        </div></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
{#                <button type="button" class="btn btn-primary">提交更改</button>#}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


{% endblock %}