<table border="1" class="dataframe" id="df_table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>precision</th>
      <th>recall</th>
      <th>f1-score</th>
      <th>support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>white_file</th>
      <td>0.986364</td>
      <td>0.981900</td>
      <td>0.984127</td>
      <td>221.000000</td>
    </tr>
    <tr>
      <th>webshell_file</th>
      <td>0.981043</td>
      <td>0.985714</td>
      <td>0.983373</td>
      <td>210.000000</td>
    </tr>
    <tr>
      <th>accuracy</th>
      <td>0.983759</td>
      <td>0.983759</td>
      <td>0.983759</td>
      <td>0.983759</td>
    </tr>
    <tr>
      <th>macro avg</th>
      <td>0.983703</td>
      <td>0.983807</td>
      <td>0.983750</td>
      <td>431.000000</td>
    </tr>
    <tr>
      <th>weighted avg</th>
      <td>0.983771</td>
      <td>0.983759</td>
      <td>0.983760</td>
      <td>431.000000</td>
    </tr>
  </tbody>
</table>