{% extends 'base.html' %}

{% block title %}
    Webshell扫描器
{% endblock %}

{% block head %}
    <style>


    </style>
{% endblock %}


{% block page_title %}
    <p align="center"><b>欢迎使用Webshell扫描器Web端</b></p>



{% endblock %}

{% block main_content %}
    <div>
        <p align="center"><img src="{{ url_for("static",filename="picture/BXS.png") }}" alt=""></p>
    </div>

{#    <div class="row mt-4 justify-content-center" style="text-align: center">#}
{#        <h4><b>该CMS可被应用于多种场景...</b></h4>#}
{#  </div>#}
{##}
{#    #}
{#    <div class="row mt-3 justify-content-center" style="margin: auto">#}
{#    <div class="col col-lg-2 col-sm-4">#}
{#      <div class="card shadow-sm">#}
{#        <div class="card-body text-center">#}
{#          <img src="https://phpchip.com/img/vuln.svg" alt="vulnerabilities dig" width="80%">#}
{#          <p class="mt-2 mb-0">漏洞挖掘</p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#    <div class="col col-lg-2 col-sm-4">#}
{#      <div class="card shadow-sm">#}
{#        <div class="card-body text-center">#}
{#          <img src="https://phpchip.com/img/ctf.svg" alt="ctf game" width="80%">#}
{#          <p class="mt-2 mb-0">CTF比赛</p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#    <div class="col col-lg-2 col-sm-4">#}
{#      <div class="card shadow-sm">#}
{#        <div class="card-body text-center">#}
{#          <img src="https://phpchip.com/img/backdoor.svg" alt="backdoor scan" width="80%">#}
{#          <p class="mt-2 mb-0">后门查找</p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}


    <div>
        <p align="center">&copy;2019-2020 Created by <a href="https://0verwatch.top">4me</a></p>
    </div>







{% endblock %}
